.form-wrapper {
  padding: 40px;
  background: $white;
  width: max-content;
  border-radius: 30px;
}

.form-group {
  &.row-text {
    display: flex;
    align-items: baseline;
  }

  .row-text {
    display: flex;
    align-items: center;
  }

  &__text {
    min-width: 30px;
    font-family: $sofiaPro;
    font-weight: 400;
    font-style: normal;
    font-size: 20px;
    color: #56666d;
    margin-left: 5px;

    @include max-screen(575px) {
      font-size: 14px;
    }
  }

  &.has-error {
    .help-block {
      display: block;
    }
  }

  .help-block {
    font-family: $sofiaPro;
    font-weight: 700;
    font-style: italic;
    line-height: 1.25;
    font-size: 14px;
    color: $crimson;
    display: none;
    padding-top: 10px;
  }
}

.form-group label.control-label {
  position: absolute;
  top: 0;
  padding: 18px 0 0 33px;
  transition: all 300ms;
  font-family: $sofiaPro;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: #56666d;
  opacity: 1;

  @include max-screen(575px) {
    padding: 12px 0 0 20px;
  }
}


.form-group-focus {
  label.control-label {
    font-size: 13px;
    transform: translate3d(0, -40%, 0);
    opacity: 0.5;

    @include max-screen(575px) {
      transform: translate3d(0, -35%, 0);
      font-size: 10px;
    }
  }
}

::-webkit-input-placeholder {
  color: transparent !important;
}

::-moz-placeholder {
  color: transparent !important;
}

/* Firefox 19+ */
:-moz-placeholder {
  color: transparent !important;
}

/* Firefox 18- */
:-ms-input-placeholder {
  color: transparent !important;
}

.label-hidden {
  position: absolute !important;
  overflow: hidden;
  clip: rect(0 0 0 0);
  height: 1px;
  width: 1px;
  margin: -1px;
  padding: 0;
  border: 0;
}

select.form-control {
  appearance: none;
  background-image: url(../assets/arrow-down-select.svg);
  background-repeat: no-repeat;
  background-position: calc(100% - 20px) calc(50% - 0px);

  @include max-screen(575px) {
    background-position: calc(100% - 14px) calc(50% - 0px);
  }
}

.form-control {
  height: 60px;
  padding: 0 30px;
  border: 4px solid $darkWhite;
  border-radius: 30px;
  background-color: $darkWhite;
  font-family: $sofiaPro;
  font-weight: 400;
  font-style: normal;
  font-size: 16px;
  line-height: 1.5;
  color: $grey;
  transition: 0.2s;

  &:focus-visible, &:focus {
    box-shadow: none;
    outline: none;
    border: 4px solid $sky;
    transition: 0.2s;
  }

  @include max-screen(575px) {
    height: 50px;
    font-size: 14px;
    padding: 0 15px;
  }
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  width: max-content;
  padding: 18px 30px;
  height: 60px;
  font-weight: 700;
  line-height: 1.25;
  font-family: $sofiaPro;
  border-radius: 30px;
  font-size: 16px;
  transition: 0.3s;
  outline: none;

  @include max-screen(575px) {
    height: 50px;
  }

  &:hover {
    color: white;
  }

  &.btn-sm {
    padding: 4px 8px;
    font-size: 12px;
    height: auto;
  }

  &.btn-outline-primary, &.btn-blue-style {
    transition: 0.3s;
    background-color: white;
    color: $blue;
    border: solid 1px $blue;

    &:hover {
      color: white;
      background-color: $blue;

      path {
        fill: white;
      }
    }
  }

  &.btn-primary, &.entry-btn, .continue {
    transition: 0.3s;
    background: $blue;
    color: white;

    &:hover {
      box-shadow: none !important;
      color: white !important;
      background-color: $darkBlue !important;

      path {
        fill: white !important;
      }
    }
  }

  &.primary-light, &.register {
    background: $sky;

    &:hover {
      background: $sky;
    }
  }

  &.btn-grey-style {
    border: 1px solid $dark;
    background-color: $lightGrey;
    color: $grey;
    transition: 0.3s;
    font-style: italic;
    font-weight: 400;

    &:hover {
      border-color: $blue;
      background-color: $blue;
      color: $white;

      path {
        fill: white;
      }
    }
  }

  &.disabled {
    border: 1px solid $dark !important;
    background-color: $lightGrey !important;
    color: $grey !important;
    transition: 0.3s;
    font-style: italic;
    font-weight: 400;
    cursor: default;

    &:hover {
      border-color: $dark !important;
      background-color: $lightGrey !important;
      color: $grey !important;
      box-shadow: none !important;

      path {
        fill: $grey;
      }
    }
  }
}

.step-active {
  display: block;
}

.step-hide {
  display: none;
}

.pp {
  padding-top: 80px;
}

.bg-white {
  background-color: #FFFFFF;
}

.alert {
  border-radius: 0;
  margin-bottom: 0;
  padding: 20px;
  position: absolute;
  width: 100%;
  top: 50px;
  left: 0;
  z-index: 9999;

  @include max-screen(767px) {
    top: 70px;
  }

  .text {
    font-family: $sofiaPro;
    font-weight: 400;
    font-size: 16px;
    font-style: normal;
    line-height: 1.5;
  }

  &.alert-success {
    border: 1px solid $green;
    background: $lightGreen;
    text-align: center;

    .text {
      color: $darkGrey;
    }
  }

  &.alert-danger {
    border: 1px solid $red;
    background: $lightCrimson;

    .text {
      color: $red;
    }
  }

  &.alert-warning {
    border: 1px solid $orange;
    background: $lightYellow;

    .text {
      color: $red;
    }
  }

  &.medium-br {
    border-radius: 10px;
  }

  &.big-pd {
    padding: 20px;
  }

  &.medium-pd {
    padding: 10px;
  }
}

.link-primary {
  font-family: $sofiaPro;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  color: $blue;

  &:hover {
    color: $blue;
  }

  @include max-screen(575px) {
    font-size: 14px;
  }

  .icon-plus-bold {
    width: 14px;
    height: 14px;
    margin: 0 8px 4px 8px;

    @include max-screen(575px) {
      margin: 0 4px 4px 4px;
    }
  }
}

.return-link {
  &:before {
    content: "\f053";
    font-family: 'Font Awesome 5 Free';
    font-weight: 900;
    margin-right: 10px;
    position: relative;
  }
}

.title-sm {
  font-family: $sofiaPro;
  font-weight: 700;
  font-size: 18px;
  line-height: 1.25;
  color: $grey;
}

.categories_tag {
  display: inline-block;
  background-color: rgba(221, 76, 86, 0.7);
  font-family: $sofiaPro;
  font-weight: 700;
  font-style: normal;
  font-size: 14px;
  line-height: 21px;
  padding: 0 7px 3px;
  border-radius: 7px;
  color: $white;
  margin-bottom: 11px;
  margin-top: 11px;
  margin-right: 5px;
  opacity: 0.8;

  &.green {
    background-color: $green;
  }

  &.orange {
    background-color: $orange;
  }

}

.del-sm-pd {
  @include max-screen(575px) {
    padding: 0;
  }
}

.block-show {
  display: block;
}

.block-hidden {
  display: none;
}

.has-error {
  input, select {
    border-color: #dc3545;
  }
}

.has-img-error {
  font-family: $sofiaPro;
  font-weight: 400;
  font-style: italic;
  font-size: 14px;
  line-height: 1.5;
  color: $darkCrimson;
}

