//***** Color *****
$black: #000000;
$yellow: #FFE500;
$green: #00AA77;
$orange: #FF6B00;
$darkBlue:#000A88;
$blue: #0011EE;
$lightBlue: #1877F2;
$darkSky: #0055AA;
$sky: #7084CB;
$lightSky: #D1E6F9;
$red: #970000;
$darkCrimson: #BB3E48;
$crimson: #DD4C56;
$lightCrimson: #F9D1D1;
$dark: #B1C1C8;
$lightDark: #E0EAEF;
$darkGrey: #11222B;
$grey: #56666D;
$mutedGrey: #8F8F8F;
$lightGrey: #F3F4F6;
$darkWhite: #F2F6F8;
$white: #ffffff;
$lightYellow: #FDF5D7;
$lightGreen: #DEF9D1;

//***** Fonts *****
$sofiaPro: 'Sofia Pro', sans-serif;
$montserrat: 'Montserrat', sans-serif;
$ibmPlexSans: 'IBM Plex Sans', sans-serif;
