.my-account {
  @include max-screen(767px) {
    padding-top: 50px;
  }

  .drop-btn {
    display: none;

    @include max-screen(991px) {
      display: block;
      //position: fixed;
      position: absolute;
      left: 0;
      z-index: 1001;
      text-align: center;
      width: 100%;
      min-height: 66px;
      padding: 20px;
      font-family: $sofiaPro;
      font-weight: 400;
      font-size: 21px;
      line-height: 1.25;
      color: $blue;
      background-color: $darkWhite;

      &:after {
        content: url("../assets/arrow-down-select.svg");
        position: absolute;
        right: 25px;
        top: calc(50% - 14px);
      }
    }
  }

  .border-st {
    border-right: 1px solid $lightDark;
    min-height: 100vh;

    @include max-screen(991px) {
      min-height: auto;
      border-right: none;
    }

  }

  .pp {
    @include max-screen(991px) {
      padding-top: calc(66px + 30px);
    }
  }

  .card-style {
    display: flex;
    align-items: center;
    padding: 20px;
    margin-bottom: 25px;
    border-radius: 20px;
    background-color: $darkWhite;
    min-width: 400px;
    width: max-content;
    min-height: 100px;

    @include max-screen(575px) {
      min-width: auto;
      width: auto;
      margin-left: auto;
    }

    &:last-of-type {
      margin-bottom: 0;
    }

  }

  &__content-wrapper {
    padding-left: 35px;

    @include max-screen(991px) {
      padding-left: 0;
    }
  }

  &__title {
    font-family: $sofiaPro;
    font-size: 42px;
    font-style: normal;
    font-weight: 700;
    line-height: 1.25;
    margin-bottom: 55px;
    color: $grey;

    @include max-screen(991px) {
      display: none;
    }
  }

  .form-group {
    margin-bottom: 30px;

    @include max-screen(575px) {
      margin-bottom: 20px;
    }
  }

}

.my-account__menu {
  flex-direction: column;
  text-align: right;
  padding-right: 50px;

  @include max-screen(991px) {
    width: 100%;
    top: 65px;
    left: 0;
    z-index: 1001;
    text-align: center;
    position: absolute;
    background: #fcfcfc;

    &.pp {
      padding: 0;
    }
  }

  @include max-screen(575px) {
    background: $darkWhite;
  }

  .item {
    margin: 5px 0;

    @include min-screen(991px) {
      display: block !important;
    }

    @include max-screen(991px) {
      display: none;

      &:first-of-type {
        margin-top: 35px;
      }

      &:last-of-type {
        margin-bottom: 35px;
      }
    }
  }

  .link {
    position: relative;
    display: inline-block;
    padding: 10px 20px;

    &.active {
      &:after {
        position: absolute;
        content: "";
        width: 8px;
        height: 8px;
        background: $sky;
        right: 0;
        top: calc(50% - 2px);
        border-radius: 4px;
      }
    }
  }
}

.my-profile {
  .my-account__content-wrapper {
    padding-right: 65px;

    @include max-screen(991px) {
      padding: 0;
    }
  }

  .weight-data-group {
    margin-bottom: 20px;

    .col-6 {
      display: flex;
      flex-direction: column;
      justify-content: flex-end;
    }

    .form-control {
      font-size: 32px;
      color: $darkGrey;

      @include max-screen(991px) {
        font-size: 26px;
      }
    }

    label {
      padding-left: 20px;
      margin-bottom: 10px;
      font-family: $sofiaPro;
      font-size: 12px;
      font-style: normal;
      font-weight: 400;
      line-height: 1.5;
      color: $grey;

      @include max-screen(575px) {
        font-size: 12px;
      }
    }
  }

  .edit-photo {

    @include max-screen(991px) {
      margin-bottom: 20px;
    }

    .uploadifive-container {
      height: 190px;
      width: max-content;
      margin: 0 auto;

      @include max-screen(575px) {
        height: 165px;
      }
    }

    .uploadifive-button {
      width: 190px !important;
      height: 190px !important;
      border-radius: 95px;
      background: #626D73 !important;

      @include max-screen(575px) {
        width: 165px !important;
        height: 165px !important;
      }

      &:hover {
        opacity: 1;
        background: #626D73 !important;

        .plus-button {
          opacity: 0.6;
          transition: 0.2s;
        }
      }
    }

    .title {
      color: white;
      position: absolute;
      font-family: $sofiaPro;
      font-weight: 700;
      font-size: 14px;
      line-height: 1.5;
      z-index: 1;
      top: calc(50% - 11px);
      left: calc(50% - 45px);
    }

    .plus-button {
      display: none;
      position: absolute;
      left: 0;
      top: 0;
      right: 0;
      bottom: 0;
      background: black;
      opacity: 0.5;
      transition: 0.2s;
    }

    input {
      left: 0;
      right: 0 !important;
      bottom: 0;
      top: 0 !important;
      width: 100%;
    }

    .uploadifive-files {
      position: absolute;
      top: 0;
      border-radius: 50%;

      .image {
        width: 190px;
        height: 190px;
        margin: 0;
        background-size: cover;
        background-position: center top;
        background-repeat: no-repeat;
        z-index: 1;

        @include max-screen(575px) {
          width: 165px;
          height: 165px;
        }

        .info, .removeImage {
          display: none;
        }
      }
    }

    .has-img-error {
      padding-top: 20px;
      max-width: 190px;
      width: 100%;
      display: inline-block;
      text-align: center;

      @include max-screen(767px) {
        max-width: 100%;
        width: auto;
      }
    }
  }
}

.payment-methods {

  .title-sm {
    margin-bottom: 20px;
  }

  &__link {
    display: inline-block;
    margin-bottom: 25px;

    &:before {
      content: url("../assets/plus-blue.svg");
      margin-right: 8px;
      width: 8px;
      height: 8px;
      position: relative;
      bottom: 2px;
    }

    &:hover {
      color: blue;
    }
  }

  &__card {

    &:last-of-type {
      margin-bottom: 20px;
    }

    .card__logo {
      margin-right: 20px;
      width: 60px;
      height: 60px;
    }

    .card__info {
      display: flex;
      flex-direction: column;
      min-width: 246px;
      margin-right: 16px;

      @include max-screen(430px) {
        min-width: auto;
        max-width: 120px;
      }

      .text {
        font-family: $sofiaPro;
        font-weight: 400;
        font-size: 16px;
        line-height: 1.5;
        color: $darkGrey;
      }

      strong {
        font-weight: 700;
      }

    }

    .edit__payment-methods {
      margin-left: auto;
    }
  }
}

.update-payment-method, .add-payment-method {

  .title-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    @include max-screen(991px) {
      justify-content: flex-end;
    }
  }

  .title-sm {
    margin-bottom: 30px;

    @include max-screen(575px) {
      margin-bottom: 20px;
    }
  }

  .credit-card__form-group {
    position: relative;

    label.control-label {
      padding-left: 78px;

      @include max-screen(575px) {
        padding-left: 56px;
      }
    }

    .form-control {
      padding-left: 74px;

      @include max-screen(575px) {
        padding-left: 52px;
      }
    }

    .icon {
      position: absolute;
      bottom: 16px;
      left: 34px;
      width: 34px;
      height: 25px;

      @include max-screen(575px) {
        left: 16px;
        bottom: 12px;
      }
    }

    .help-block {
      position: absolute;
      bottom: -20px;
    }
  }

  .add-line__form-group {
    margin-bottom: 30px;

    .form-group {
      margin-bottom: 10px;
    }

    .link-primary {
      .icon {
        width: 14px;
        height: 14px;
        margin: 0 15px 4px 0;
      }
    }
  }

  .payment-method__footer {
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;

    .btn {
      margin-bottom: 15px;

      .icon {
        margin-right: 15px;
        transition: 0.3s;
      }

      &:hover {
        .icon {
          path {
            fill: $blue;
            transition: 0.3s;
          }
        }
      }
    }

    .text {
      font-family: $sofiaPro;
      font-weight: 400;
      font-size: 14px;
      line-height: 1.25;
      color: $mutedGrey;
      margin-bottom: 15px;
    }

    .link {
      .icon {
        margin-left: 2px;
      }
    }

  }
}

.digital-orders {
  .order-card {
    .img-box {
      position: relative;

      &:before {
        content: "";
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background: linear-gradient(180deg, rgba(0, 17, 238, 0) 0%, rgba(0, 17, 238, 0.33) 100%);
      }
    }
  }
}

.order-card {

  .img-box {
    max-width: 72px;
    width: 100%;
    min-height: 100px;
    height: auto;
    margin-right: 16px;
    display: flex;
    justify-content: start;
    align-items: center;
    border-radius: 10px;
    overflow: hidden;

    img {
      max-width: 100%;
      height: auto;
      border-radius: 10px;
    }
  }

  .info-box {
    max-width: 272px;
    width: 100%;

    &__title {
      font-family: $sofiaPro;
      font-weight: 700;
      font-size: 16px;
      line-height: 1.25;
      color: $darkGrey;
      margin-bottom: 10px;
    }

    &__text {
      font-family: $sofiaPro;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.25;
      color: $grey;
      margin-bottom: 10px;

      strong {
        font-weight: 700;
      }
    }

    &__link {
      font-family: $sofiaPro;
      font-weight: 400;
      font-size: 16px;
      line-height: 1.25;
      color: $blue;

      &:before {
        content: url("../assets/direct-download 2.svg");
        margin-right: 6px;
        position: relative;
        top: 2px;
      }
    }


  }

}